<div class="ui-slider">
    <div class="slider slider alt"
         data-min="1"
         data-max="10"
         data-value="4"
         data-step="1"
         data-field="#field"
         data-change="true"
         data-values="1 - Very low, 2 - Low, 3- Conservative, 4 - Moderate, 5 - Medium, 6 - Mid-High, 7 - High, 8 - Very high, 9 - Very high, 10 - Very high">
        <div class="bar"></div>
        <div class="handler ui-slider-handle"></div>
        <div class="label" style="left:-18px;"></div>
        <div class="left">Low</div>
        <div class="right">High</div>
    </div>
</div>