$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 640px,
	'desktop': 960px,
	'widescreen': 1280px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'vendors/include-media';

#main{
	display: table;
	width: 100%;
	table-layout: fixed;
	@include media('<desktop'){
		display: block;
	}
}
#sidebar{
	display: table-cell;
	vertical-align: top;
	background: $white;
	border-right: 1px solid lighten(saturate(adjust-hue($base-text-color, 20.0000), 5.6604), 64.9020);
	padding: 1.428571em 0.714285em 0 0.785714em;
	width: 23.714285em;
	@include media('<desktop'){
		display: block;
		padding: 1.071428em;
		width: auto;
		overflow: hidden;
	}
	.title{
		display: block;
		font-size: 1.142857em;
		line-height: 1em;
		margin: 0 0 0.9375em;
	}
}
.tabset{
	counter-reset: newCounter;
	@include media('<desktop'){
		margin: 0 -1.071428em 0 0;
	}
	@include media('<tablet'){
		margin: 0;
	}
	.item{
		position: relative;
		margin: 0 0 0.714285em;
		border: 1px solid lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 72.1569);
		border-radius: 0.142857em;
		transition: all 0.4s ease;
		@include media('<desktop'){
			display: inline-block;
			vertical-align: top;
			width: 48.2%;
			margin: 0 1% 0.714285em 0;
		}
		@include media('<tablet'){
			display: block;
			width: auto;
			margin: 0 0 0.714285em;
		}
	}
	.opener{
		display: block;
		padding: 0.6em 0.8em 0.733333em;
		color: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 54.1176);
		font-size: 1.071428em;
		line-height: 1.535353em;
		transition: all 0.4s ease;
		&:before{
			margin-right: 0.2em;
			font-weight: bold;
			counter-increment: newCounter;
			content: counters(newCounter,".") ".";
			transition: all 0.4s ease;
		}
	}
	.active{
		border-color: lighten(saturate(adjust-hue($base-text-color, 20.0000), 5.6604), 64.9020);
		background: lighten(saturate(adjust-hue($brand-primary, 0.2211), 0.8601), 36.4706);
		.opener{
			color: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 5.4902);
			&:before{
				color: darken(desaturate(adjust-hue($brand-primary, 11.6757), 51.0360), 22.3529);
			}
		}
		.slide{
			display: block;
		}
	}
	.filled{
		.opener{
			cursor: default;
			pointer-events: none;
			color: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 5.4902);
			&:before{
				color: darken(desaturate(adjust-hue($brand-primary, 11.6757), 51.0360), 22.3529);
			}
		}
		.edit{
			display: block;
		}
	}
	.slide{
		.holder{
			padding: 0.142857em 0.714285em 0 0.857142em;
		}
	}
	.btn-next{
		text-align: center;
		margin: 0 -0.714285em 0 -0.857142em;
		display: block;
		background: $brand-primary;
		color: $white;
		font-size: 1em;
		line-height: 2.071428em;
		padding: 0.714285em;
		border-radius: 0 0 0.142857em 0.142857em;
		&:hover{
			background: lighten(saturate(adjust-hue($brand-primary, -0.1780), 21.2405), 6.6667);
		}
		&:active{
			background: darken(desaturate(adjust-hue($brand-primary, -0.3243), 16.3026), 6.6667);
		}
	}
	.edit{
		display: none;
		position: absolute;
		right: 0.714285em;
		top: 0.928571em;
	}
	.text{
		margin: -0.166666em 0 0.583333em;
		display: block;
		font-size: 0.857142em;
		line-height: 1.26em;
	}
}

.info-form{
	margin: 0 0 1.214285em;
	.form-item{
		&+.form-item{
			margin-top: 0.857142em;
		}
	}
	label{
		display: inline-block;
		vertical-align: top;
		color: darken(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 1.1765);
		margin: 0 0 0.357142em;
	}
	.row{
		@extend %clearfix;
	}
	input[type=text]{
		float: right;
		width: 6.142857em;
		height: 2.5em;
		font-size: 1em;
		line-height: 1.642857em;
		padding: 0.357142em 0.35em;
		text-align: right;
		background: $white !important;
		@include media('<tablet'){
			float: left;
		}
	}
	.years{
		float: right;
		margin: 0;
		position: relative;
		@include media('<tablet'){
			float: left;
		}
		input{
			padding-right: 50px;
		}
		span{
			position: absolute;
			color: #9a9a9a;
			right: 10px;
			top: 7px;
		}
	}
}

.slider{
	float: left;
	position: relative;
	margin: 1em 0.714285em;
	width: 12em;
	height: 0.5em;
	font-size: 1em;
	@include media('<tablet'){
		width: 10.7em;
		margin: 1em 1.285714em 1em 0.714285em;
	}
	&.alt{
		width: 158px;
		padding: 0;
		&:before,
		&:after{
			display: none;
		}
		.bar{
			background: lighten(saturate(adjust-hue($brand-primary, 0.2211), 0.8601), 36.4706);
		}
	}
	&:before,
	&:after{
		position: absolute;
		top: 0;
		left: -0.714285em;
		content: '';
		width: 0.5em;
		height: 0.5em;
		border-radius: 100%;
		background: $brand-primary;
	}
	&:after{
		left: auto;
		right: -0.714285em;
	}
	.bar{
		border-radius: 0.5em;
		height: 100%;
		background: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 55.2941);
	}
	.handler{
		z-index: 2;
		position: absolute;
		top: -0.642857em;
		width: 0.785714em;
		height: 1.642857em;
		border: 1px solid lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 55.2941);
		background: $white url(../images/ico-handler.png) no-repeat 50% 50%;
		border-radius: 0.142857em;
		margin-left: -0.428571em;
		cursor: pointer;
		&:hover{
			border-color: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 35.2941);
		}
	}
	.left,
	.right{
		font-size: 0.785714em;
		line-height: 1em;
		font-weight: bold;
		text-transform: uppercase;
		color: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 5.4902);
		position: absolute;
		right: 100%;
		margin-right: 7px;
		top: -0.272727em;
	}
	.right{
		right: auto;
		left: 100%;
		margin: 0 0 0 7px;
	}
	.label{
		margin-top: 0.4em;
		position: absolute;
		top: 100%;
		left: 50% !important;
		transform: translateX(-50%);
		background: #8ba941;
		font-size: 0.714285em;
		line-height: 1.2em;
		padding: 0.2em 0.5em 0.3em;
		color: $white;
		white-space: nowrap;
		&:before{
			position: absolute;
			content: '';
			width: 0.6em;
			height: 0.6em;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			border: 0.3em solid transparent;
			border-bottom-color: #8ba941;
		}
	}
}

.tooltip{
	margin: 0 0 0 0.2em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: $blue;
	cursor: pointer;
	font-size: 1.071428em; //15
	&:hover{
		.t-slide{
			display: block;
		}
	}
	&.right-side{
		.t-slide{
			left: auto;
			right: 100%;
			margin-right: 0.2em;
		}
	}
	.t-slide{
		border-radius: 0.142857em;
		display: none;
		position: absolute;
		background: $brand-primary;
		top: 0;
		left: 100%;
		z-index: 30;
		color: $white;
		padding: 0.15em 0.3em 0.25em;
		margin: -0.2em 0 0 0.2em;
		width: 140px;
		font-size: 0.8em;
	}
}

#content{
	position: relative;
	display: table-cell;
	vertical-align: top;
	padding: 1.071428em 1.0714285em 0 1.071428em;
	height: calc(100vh - 3.642857em);
	min-height: 200px;
	@include media('<desktop'){
		display: block;
		padding: 1.071428em 1.071428em 0;
		height: auto;
	}
}

input[type=checkbox]{
	position: absolute;
	left: -9999px;
	&:checked{
		&+.fake-checkbox{
			i{
				display: block;
			}
		}
	}
	&+.fake-checkbox{
		display: inline-block;
		vertical-align: top;
		margin: 0.222222em 0.555555em 0 0;
		width: 1.666666em;
		height: 1.666666em;
		border: 1px solid lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 55.2941);
		background: $white;
		border-radius: 0.222222em;
		font-size: 0.642857em;
		color: #48a0dc;
		text-align: center;
		cursor: pointer;
		i{
			display: none;
			line-height: 1.444444em;
			transform: scale(0.9);
		}
	}
}
.radio-group{
	border: solid lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 55.2941);
	border-width: 1px 0 0 1px;
	border-radius: 0.142857em;
	overflow: hidden;
	background: $white;
	margin: 0.071428em -0.071428em -0.071428em -0.214285em;
	.radio{
		margin: 0;
		float: left;
		width: calc(100% / 3.001);
		border: solid lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 55.2941);
		border-width: 0 1px 1px 0;
	}
	input[type=radio], 
	input[type=checkbox]{
		position: absolute;
		left: -9999px;
		&:checked{
			&+.custom-radio{
				background: lighten(saturate(adjust-hue($brand-primary, 0.2211), 0.8601), 36.4706);
				i{
					color: $brand-primary;
				}
			}
		}
	}
	.custom-radio{
		cursor: pointer;
		display: block;
		text-align: center;
		border: 0.166666em solid $white;
		font-size: 0.857142em;
		line-height: 1.166666em;
		color: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 5.4902);
		height: 7em;
		padding: 1.25em 0.25em 0.416666em;
		transition: all 0.3s ease;
		i{
			display: block;
			margin: 0 0 0.217391em;
			font-size: 1.916666em;
			color: darken(desaturate(adjust-hue($brand-primary, 11.6757), 51.0360), 22.3529);
			transition: all 0.3s ease;
		}
		span{
			display: table;
			width: 100%;
			table-layout: fixed;
			em{
				font-style: normal;
				display: table-cell;
				height: 2.333333em;
				vertical-align: middle;
			}
		}
	}
}
.note-holder{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: calc(100vh - 3.642857em);
	@include media('<tablet'){
		height: 200px;
	}
}
.note{
	position: absolute;
	width: 24.347826em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.642857em;
	line-height: 1.217391em;
	padding-left: 3.652173em;
	background: url(../images/ico-1.png) no-repeat 0 50%;
	color: lighten(saturate(adjust-hue($base-text-color, 0.0000), 0.0000), 5.4902);
	background-size: 2.956521em auto;
	@include media('<tablet'){
		width: 21em;
		font-size: 1em;
	}
}
.tabset .item .opener {
	pointer-events: none;
}
.tabset .item.complete .opener {
	pointer-events: inherit;
	color: #000;
}
.ui-state-disabled {
	&:before,
	&:after {
		background: #ccc;
	}
	+ input[type=text] {
		color: #ccc;
	}
}