<aside id="sidebar">
    <strong class="title">Let’s get started:</strong>
    <div class="tabset steps-accordion">
        <div class="item active" data-content="step-content-1">
            <a href="#" class="opener">Account Goal</a>
            <a href="#" class="edit"><i class="icon-edit"></i></a>
            <div class="slide">
                <div class="holder">
                    <form action="#" class="info-form">
                        <div class="form-item validate-row">
                            <label>Age
                                <span class="tooltip"><i class="icon-info"></i><span class="t-slide">Lorem ipsum dolor. Lorem ipsum dolor.</span></span>
                            </label>
                            <div class="row ui-slider">
                                <div class="slider" data-min="18" data-max="70" data-value="0" data-step="1">
                                    <div class="bar"></div>
                                    <div class="handler ui-slider-handle"></div>
                                </div>
                                <input type="text" class="value" value="0" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-item validate-row">
                            <label>Target Time
                                <span class="tooltip"><i class="icon-info"></i><span class="t-slide">Lorem ipsum dolor.</span></span>
                            </label>
                            <div class="row ui-slider">
                                <div class="slider" data-min="1" data-max="62" data-value="0" data-step="1">
                                    <div class="bar"></div>
                                    <div class="handler ui-slider-handle"></div>
                                </div>
                                <label class="years">
                                    <input type="text" class="value" value="0" disabled="disabled">
                                    <span>years</span>
                                </label>
                            </div>
                        </div>
                    </form>
                    <a href="#" class="btn-next">Next Step ›</a>
                </div>
            </div>
        </div>
        <div class="item" data-content="step-content-2">
            <a href="#" class="opener">Deposits</a>
            <a href="#" class="edit"><i class="icon-edit"></i></a>
            <div class="slide">
                <div class="holder">
                    <form action="#" class="info-form">
                        <div class="form-item validate-row">
                            <label>Initial Deposit
                                <span class="tooltip"><i class="icon-info"></i><span class="t-slide">Lorem ipsum dolor.</span></span>
                            </label>
                            <div class="row ui-slider">
                                <div class="slider money-slider" data-min="5000" data-max="1000000" data-value="0" data-step="5000" data-text="$" data-result="#money-field-1">
                                    <div class="bar"></div>
                                    <div class="handler ui-slider-handle"></div>
                                </div>
                                <input type="text" class="value" value="0" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-item check-holder">
                            <label><input type="checkbox" class="value-checkbox"><span class="fake-checkbox"><i class="icon-check"></i></span>Monthly Deposit
                                <span class="tooltip"><i class="icon-info"></i><span class="t-slide">Lorem ipsum dolor.</span></span>
                            </label>
                            <div class="row ui-slider validate-field">
                                <div class="slider money-slider" data-disabled="true" data-min="500" data-max="5000" data-value="0" data-step="100" data-text="$" data-result="#money-field-2">
                                    <div class="bar"></div>
                                    <div class="handler ui-slider-handle"></div>
                                </div>
                                <input type="text" class="value" value="0" disabled="disabled">
                            </div>
                        </div>
                    </form>
                    <a href="#" class="btn-next">Next Step ›</a>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="#" class="opener">Risk Appetite</a>
            <a href="#" class="edit"><i class="icon-edit"></i></a>
            <div class="slide">
                <div class="holder">
                    <form action="#" class="info-form" data-content="step-content-3" data-result="#result-box">
                        <div class="form-item validate-row">
                            <label>What is your annual income?
                                <span class="tooltip"><i class="icon-info"></i><span class="t-slide">Lorem ipsum dolor.</span></span>
                            </label>
                            <div class="row ui-slider">
                                <div class="slider money-slider" data-min="15000" data-max="500000" data-value="0" data-step="1000" data-text="$">
                                    <div class="bar"></div>
                                    <div class="handler ui-slider-handle"></div>
                                </div>
                                <input type="text" class="value" value="0" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-item validate-row">
                            <label>What is your liquid assets net worth?
                                <span class="tooltip"><i class="icon-info"></i><span class="t-slide">Lorem ipsum dolor.</span></span>
                            </label>
                            <div class="row ui-slider">
                                <div class="slider money-slider" data-min="5000" data-max="1000000" data-value="0" data-step="5000" data-text="$">
                                    <div class="bar"></div>
                                    <div class="handler ui-slider-handle"></div>
                                </div>
                                <input type="text" class="value" value="0" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-item">
                            <label>What would describe you?</label>
                            <div class="radio-group validate-row required-radio">
                                <label class="radio">
                                    <input type="radio" id="maximizingGains" name="name-1">
												<span class="custom-radio">
													<i class="icon-gain"></i>
													<span><em>Maximizing Gains</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" id="minimizingLoss"  name="name-1">
												<span class="custom-radio">
													<i class="icon-flower"></i>
													<span><em>Minimizing Loss</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" id="bothEqually" name="name-1">
												<span class="custom-radio">
													<i class="icon-libra"></i>
													<span><em>Both Equally</em></span>
												</span>
                                </label>
                            </div>
                        </div>
                    </form>
                    <a href="#" class="btn-next">Next Step ›</a>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="#" class="opener">Prefered Sectors</a>
            <a href="#" class="edit"><i class="icon-edit"></i></a>
            <div class="slide">
                <div class="holder">
                    <form action="#" class="info-form">
                        <span class="text">You may choose to follow the advisor’s settings or select up to 3 sectors you find the most promising. You can change this at any time.</span>
                        <div class="js-open-close">
                            <div class="form-item">
                                <label><input type="checkbox" checked="checked"><span class="fake-checkbox"><i class="icon-check"></i></span>Use advisor’s picks
                                    <span class="tooltip"><i class="icon-info"></i><span class="t-slide">Lorem ipsum dolor.</span></span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-tech"></i>
													<span><em>Technology</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-health"></i>
													<span><em>Healthcare</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-energy"></i>
													<span><em>Energy &amp; Resources</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-estate"></i>
													<span><em>Real Estate</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-retail"></i>
													<span><em>Retail Spending</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-food"></i>
													<span><em>Food</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-travel"></i>
													<span><em>Travel &amp; Entertainment</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-finance"></i>
													<span><em>Financial Services</em></span>
												</span>
                                </label>
                                <label class="radio">
                                    <input type="checkbox">
												<span class="custom-radio">
													<i class="icon-misc"></i>
													<span><em>Misc.</em></span>
												</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</aside>