    <header class="header">
        <a href="#" class="logo"><span class="visual"><img src="assets/images/logo.svg" alt="Smart Investor"></span> Smart Investor</a>
        <div class="right">
<!--            <form action="#" class="lang-form">
                <select class="lang">
                    <option data-image="assets/images/flag-1.svg">1</option>
                    <option data-image="assets/images/flag-1.svg">2</option>
                    <option data-image="assets/images/flag-1.svg">3</option>
                </select>
            </form>-->
            <a href="#" class="link">Sign in</a>
        </div>
    </header>
    <header class="header" style="position:absolute;top:-9999px;">
        <a href="#" class="logo"><span class="visual"><img src="assets/images/logo.svg" alt="Smart Investor"></span> Smart Investor</a>
        <div class="right">
            <form action="#" class="lang-form">
                <select class="lang">
                    <option data-image="assets/images/flag-1.svg">1</option>
                    <option data-image="assets/images/flag-1.svg">2</option>
                    <option data-image="assets/images/flag-1.svg">3</option>
                </select>
            </form>
            <div class="dropdown">
                <a href="#" class="opener"><i class="icon-bell"></i></a>
                <div class="drop">
                    <div class="drop-holder">
                        <strong class="title">Notifications</strong>
                        <div class="message">
                            <i class="ico icon-lamp"></i>
                            <a href="#" class="close"><i class="icon-close"></i></a>
                            <strong class="heading">Advisory Tip</strong>
                            <p>There has been a pitfall in the food sector last quarter, perhaps you would like to readjust your portfolio to a more profiting sector?</p>
                            <span class="time"><i class="icon-clock"></i> 03.01.2016</span>
                        </div>
                        <div class="message">
                            <i class="ico icon-christmas"></i>
                            <a href="#" class="close"><i class="icon-close"></i></a>
                            <strong class="heading">Merry Christmas</strong>
                            <p>Holiday blessings and a happy new year!</p>
                            <span class="time"><i class="icon-clock"></i> 24.12.2015</span>
                        </div>
                        <div class="message">
                            <i class="ico icon-libra"></i>
                            <a href="#" class="close"><i class="icon-close"></i></a>
                            <strong class="heading">Rebalancing Success</strong>
                            <p>Your portfolio has been rebalanced for the new quarter.</p>
                            <span class="time"><i class="icon-clock"></i> 05.10.2015</span>
                        </div>
                        <div class="line">
                            <a href="#" class="left">See All</a>
                            <a href="#" class="right">Mark All as Read</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown menu">
                <a href="#" class="opener">Hello <span>Eric Marsh</span></a>
                <div class="drop">
                    <div class="drop-holder">
                        <ul>
                            <li><a href="#"><i class="icon-gear"></i> Account Settings</a></li>
                            <li><a href="#"><i class="icon-help"></i> Help &amp; Support</a></li>
                            <li><a href="#"><i class="icon-doc"></i> Disclaimer</a></li>
                            <li><a href="#"><i class="icon-switch"></i> Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
